<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logomain"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logomain"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TheEmiClub"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.CibilReportsDetailsPage"
            android:exported="false" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.CivilReportForm"
            android:exported="false" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.customer.CustomerReportsPage"
            android:exported="false" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.RetailerCustomerReportsPage"
            android:exported="false" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.AadharCardWebViewDIGILockerPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.customer.MakePaymentPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.customer.EmiLoanDetailPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.customer.CustomerEMIPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.ChooseYourRolePage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CongratulationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.QRCodePage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.IMEIDetailsPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.PaymentInformation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.NewCustomerRegistrationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.PanCardVerificationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.AadharCardVerificationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.IDVerificationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.ForgetPasswordPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.EMICalculationDetailsPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.EMICalculationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.MobileSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.TheEmiClub" />

        <activity
            android:name=".ui.slideshow.activity.DashBoard"
            android:exported="false"
            android:label="@string/title_activity_dash_board"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.activity.LoginPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.ui.view.activity.retailer.SignupPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.slideshow.activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>